<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.unsyiah.elektro.mobile.tesbutawarna" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeSplash"
            android:label="@string/title_activity_welcome_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MulaiActivity"
            android:label="@string/title_activity_mulai" >
        </activity>
        <activity
            android:name=".HasilActivity"
            android:label="@string/title_activity_hasil" >
        </activity>
        <activity
            android:name=".PetunjukActivity"
            android:label="@string/title_activity_petunjuk" >
        </activity>
        <activity
            android:name=".ArtikelActivity"
            android:label="@string/title_activity_artikel" >
        </activity>
        <activity
            android:name=".Soal2"
            android:label="@string/title_activity_soal2" >
        </activity>
        <activity
            android:name=".Soal3"
            android:label="@string/title_activity_soal3" >
        </activity>
        <activity
            android:name=".Soal4"
            android:label="@string/title_activity_soal4" >
        </activity>
        <activity
            android:name=".Soal5"
            android:label="@string/title_activity_soal5" >
        </activity>
        <activity
            android:name=".Soal6"
            android:label="@string/title_activity_soal6" >
        </activity>
        <activity
            android:name=".Soal7"
            android:label="@string/title_activity_soal7" >
        </activity>
        <activity
            android:name=".Soal8"
            android:label="@string/title_activity_soal8" >
        </activity>
        <activity
            android:name=".Soal9"
            android:label="@string/title_activity_soal9" >
        </activity>
        <activity
            android:name=".Soal10"
            android:label="@string/title_activity_soal10" >
        </activity>
        <activity
            android:name=".Soal11"
            android:label="@string/title_activity_soal11" >
        </activity>
        <activity
            android:name=".Soal12"
            android:label="@string/title_activity_soal12" >
        </activity>
        <activity
            android:name=".Soal14"
            android:label="@string/title_activity_soal14" >
        </activity>
        <activity
            android:name=".Soal13"
            android:label="@string/title_activity_soal13" >
        </activity>
        <activity
            android:name=".Soal15"
            android:label="@string/title_activity_soal15" >
        </activity>
        <activity
            android:name=".Soal16"
            android:label="@string/title_activity_soal16" >
        </activity>
        <activity
            android:name=".Soal17"
            android:label="@string/title_activity_soal17" >
        </activity>
        <activity
            android:name=".Soal18"
            android:label="@string/title_activity_soal18" >
        </activity>
        <activity
            android:name=".Soal19"
            android:label="@string/title_activity_soal19" >
        </activity>
        <activity
            android:name=".Soal20"
            android:label="@string/title_activity_soal20" >
        </activity>

    </application>

</manifest>
